


<div class="container mt-5">
  <h2 class="text-center">Task List</h2>


  <div *ngIf="tasks">
  
    <div>
      <!-- User Dropdown -->
      <label for="user">Select User:</label>
      <select id="user" [(ngModel)]="selectedUser">
        <option *ngFor="let user of Allusers" [value]="user.id">{{ user.id }}</option>
      </select>
    </div>

    
    
    <div>
      <!-- Task Dropdown -->
      <label for="task">Select Task:</label>
      <select id="task" [(ngModel)]="selectedTask ">
        <option  *ngFor="let task of Alltasks" [value]="task.id">{{ task.name }}</option>
      </select>
    </div>

    <button class="form-control w-50 bg-success" (click)="addTask()">save</button>

    <h4 class="mt-5">{{ tasks.user }}'s Tasks</h4>
    <table class="table table-striped table-bordered text-center">
      <thead class="table-dark">
        <tr>
          <th>Task ID</th>

          <th>Task Name</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks.tasks">
          <td>{{ task.task_id }}</td>
          <td>{{ task.task_name }}</td>
          <td>{{ tasks.user }}</td>
        </tr>
       
      </tbody>

   
    </table>


    <!-- Reported Users' Tasks -->
    <h4 class="mt-4">Reported User's Tasks</h4>
    <div *ngIf="tasks.reported_by.length > 0; else noReportedTasks">
      <div *ngFor="let report of tasks.reported_by" class="mb-4">
        <h5>{{ report.user }}</h5>
        <table class="table table-striped table-bordered text-center">
          <thead class="table-info">
            <tr>
              <th>Task ID</th>
              <th>Task Name</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of report.tasks">
              <td>{{ task.task_id }}</td>
              <td>{{ task.task_name }}</td>
              <td>{{ report.user }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noReportedTasks>
      <p>No tasks found for reported users.</p>
    </ng-template>
  </div>
</div>


